In [1]:
import os
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', -1)

In [2]:
df = pd.read_csv("Housing Parsing.csv")
#df["COUNTY"] = df["COUNTY"].str.replace("County", "")
#df["COUNTY"] = df["COUNTY"].str.replace("Parish", "")
#df["COUNTY"] = df["COUNTY"].str.replace("Borough", "")
#df = df.sort_values("State")
#df["State"] = df["county_name"].str[-2:]
#df["1901-2000"] = df["1901-2000"].str[:-2]
#df["COUNTY"] = df["COUNTY"].str[:-4]
#df["Value"] = df["Value"].str[:-2]
df = df.rename(columns = {"RegionName": "County"})
df = df.rename(columns = {"2019-09": "Value"})
#df = df.rename(columns = {"perc": "Value"})
#df["County"] =df["County"].str.title()
#df = df.drop(columns = ["cohort", "zsc"])
df['County'] = df['County'].str.strip()
df.drop(df.columns.difference(['County','State', 'Value']), 1, inplace=True)
df["County, State"] = df["County"] + ", " + df["State"]
df = df.drop(columns = ["County", "State"])
#df = df.drop(df.index[0])
df

          Value             County, State
0     184500.0   Valdez Cordova, AK
1     397000.0   Sitka, AK
2     276450.0   Matanuska Susitna, AK
3     289000.0   Ketchikan Gateway, AK
4     318000.0   Anchorage, AK
5     337000.0   Kodiak Island, AK
6     384900.0   Juneau, AK
7     229900.0   Fairbanks North Star, AK
8     259000.0   Kenai Peninsula, AK
9     159000.0   Clarke, AL
10    188700.0   Bibb, AL
11    173000.0   Coffee, AL
12    147000.0   Covington, AL
13    170000.0   De Kalb, AL
14    134900.0   Escambia, AL
15    117684.0   Monroe, AL
16    310000.0   Baldwin, AL
17    169500.0   Barbour, AL
18    152950.0   Walker, AL
19    149900.0   Hale, AL
20    299949.5   Tallapoosa, AL
21    299900.0   Winston, AL
22    183999.0   Montgomery, AL
23    170450.0   Chilton, AL
24    185000.0   Blount, AL
25    137500.0   Crenshaw, AL
26    139900.0   Russell, AL
27    99000.0    Dallas, AL
28    175000.0   Jackson, AL
29    219000.0   Cherokee, AL
...        ...            ...
2259  139900.0   Kanawha, WV
2260  133950.0   Pendleton, WV
2261  94500.0    Hancock, WV
2262  151950.0   Hardy, WV
2263  160500.0   Preston, WV
2264  199000.0   Hampshire, WV
2265  135500.0   Nicholas, WV
2266  298500.0   Jefferson, WV
2267  159000.0   Upshur, WV
2268  199900.0   Uinta, WY
2269  260000.0   Sublette, WY
2270  269900.0   Crook, WY
2271  175900.0   Carbon, WY
2272  360000.0   Lincoln, WY
2273  225450.0   Fremont, WY
2274  182450.0   Weston, WY
2275  154900.0   Washakie, WY
2276  161750.0   Goshen, WY
2277  216900.0   Natrona, WY
2278  248000.0   Johnson, WY
2279  235000.0   Sweetwater, WY
2280  350000.0   Park, WY
2281  1662500.0  Teton, WY
2282  229925.0   Converse, WY
2283  265000.0   Albany, WY
2284  229000.0   Campbell, WY
2285  190000.0   Platte, WY
2286  161250.0   Hot Springs, WY
2287  275000.0   Sheridan, WY
2288  296450.0   Laramie, WY

[2289 rows x 2 columns]

In [3]:
df.to_csv("Housing Parsing2.csv", index = False)